:root {
    --cirrus-fg: #374054;
    --cirrus-bg: #fff;

    --cirrus-primary: #f03d4d;
    --cirrus-primary-rgb: 240,61,77;
    --cirrus-primary-light: #ffdadd;
    --cirrus-accent-hover: #d62939;
    --cirrus-accent-border: #c21b2b;
    --cirrus-light: #f6f9fc;
    --cirrus-light-gray: #f8f9fa;
    --cirrus-gray: #d5d7dc;
    --cirrus-dark-gray: #909090;
    --cirrus-dark: #363636;
    --cirrus-link: #5e5cc7;
    --cirrus-link-dark: #4643e2;
    --cirrus-info: #2972fa;
    --cirrus-success: #0dd157;
    --cirrus-success-rgb: 13,209,87;
    --cirrus-warning: #fab633;
    --cirrus-danger: #fb4143;

    --cirrus-light-hover: #d9e6f2;
    --cirrus-dark-hover: #424242;
    --cirrus-info-hover: #2368e9;
    --cirrus-link-hover: #f8f7ff;
    --cirrus-success-hover: #00b147;
    --cirrus-warning-hover: #f9a90e;
    --cirrus-danger-hover: #f1393c;

    --cirrus-select-bg: rgba(0, 161, 255, 0.2);

    --cirrus-code-bg: var(--cirrus-primary-light);
    --cirrus-code-fg: #dc4753;

    --cirrus-form-group-bg: var(--cirrus-light-gray);
    --cirrus-form-group-fg: var(--cirrus-dark-gray);

    --toast-primary-bg: rgba(49, 59, 80, 0.9);

    --animation-duration: .2s;
    --focus-opacity: 0.4;
}

#isso-thread .textarea {
    -moz-appearance: none;
    -webkit-appearance: none;
    width: 100%;
    border: 1px solid #ddd;
    padding: .8rem;
    border-radius: 3px;
    font-family: "Nunito Sans";
    font-size: .85rem;
    letter-spacing: .02rem;
    transition: .3s;
    outline: 0;
    margin: .5rem 0;
    padding: 1rem 1.3rem;
    min-height: 8rem;
    line-height: 1.5rem;
    resize: vertical;
    background: var(--cirrus-bg);
}

#isso-thread .textarea:focus {
    border-color: rgb(61, 171, 240);
    box-shadow: 0 0 0 0.2rem rgba(61, 171, 240, var(--focus-opacity)), inset 0px 1px 8px rgba(0, 0, 0, 0.07);
}

input[type="text" i] {
    -moz-appearance: none;
    -webkit-appearance: none;
    width: 100%;
    border: 1px solid #ddd;
    padding: .8rem;
    border-radius: 3px;
    font-family: "Nunito Sans";
    font-size: .85rem;
    letter-spacing: .02rem;
    transition: .3s;
    outline: 0;
    margin: .5rem 0;
    padding: 1rem 1.3rem;
    min-height: 8rem;
    line-height: 1.5rem;
    resize: vertical;
    background: var(--cirrus-bg);
}

input[type="text" i]:focus {
    border-color: rgb(61, 171, 240);
    box-shadow: 0 0 0 0.2rem rgba(61, 171, 240, var(--focus-opacity)), inset 0px 1px 8px rgba(0, 0, 0, 0.07);
}

input[type="email" i] {
    -moz-appearance: none;
    -webkit-appearance: none;
    width: 100%;
    border: 1px solid #ddd;
    padding: .8rem;
    border-radius: 3px;
    font-family: "Nunito Sans";
    font-size: .85rem;
    letter-spacing: .02rem;
    transition: .3s;
    outline: 0;
    margin: .5rem 0;
    padding: 1rem 1.3rem;
    min-height: 8rem;
    line-height: 1.5rem;
    resize: vertical;
    background: var(--cirrus-bg);
}

input[type="email" i]:focus {
    border-color: rgb(61, 171, 240);
    box-shadow: 0 0 0 0.2rem rgba(61, 171, 240, var(--focus-opacity)), inset 0px 1px 8px rgba(0, 0, 0, 0.07);
}
[type='submit'] {
    -moz-appearance: none;
    -webkit-appearance: none;
}

[type='button'] {
    -moz-appearance: none;
    -webkit-appearance: none;
    width: max-content !important;
    display: block;
    line-height: 2rem !important;
    overflow: hidden !important;
    padding: .5rem 1.5rem !important;
    border: 1px solid transparent !important;
    border-radius: .25rem !important;
    cursor: pointer !important;
    text-align: center !important;
    transition: all 0var(--animation-duration) !important;
    background-color: #fefefe !important;
    border-color: #d9d9d9 !important;
    color: #737373 !important;
    font-size: .75rem !important;
    letter-spacing: .03rem !important;
    text-transform: uppercase;
    font-family: Montserrat !important;
    min-width: 2rem !important;
    user-select: none !important;
    margin: 0 !important;
    margin-bottom: 1rem !important;
    outline: 0 !important;
    --btn-color: #fefefe !important;
    --btn-fg: #737373 !important;
    --btn-border-color: #d9d9d9 !important;
}

[type='button']:hover {
    transition: all var(--animation-duration) !important;
}

[type='button']:active {
    transition: var(--animation-duration) ease !important;
}

[type='button']:hover {
    background-color: #eee !important;
    --btn-color: #eee !important;
}

/* Make the loading circle, if present, white when button is active */
[type='button'].loading:active::after {
    transition: var(--animation-duration) ease !important;
    border-radius: 50% !important;
    border-right-color: transparent !important;
    border-top-color: transparent !important;
}

[type='button'].btn-animated, {
    transition: calc(var(--animation-duration) / 2) ease !important;
}

[type='button'].btn-animated:active {
    -webkit-transform: scale(0.98) !important;
    transform: inherit, scale(0.98) !important;
    transition: calc(var(--animation-duration) / 2) ease !important;
}

.post-action {
    margin-left: 10px;
}

.isso-comment-header > span {
    margin-right: 10px;
    display: inline-block;
}

.isso-comment-header > a {
    margin-right: 10px;
    display: inline-block;
}

.isso-comment-footer > a {
    margin-right: 10px;
    display: inline-block;
}

.placeholder {
    color: var(--cirrus-dark-gray);
}

[name="website"] {
    visibility: hidden;
    display:none;
}

[name="edit"] {
    visibility: hidden !important;
}

.isso-follow-up .isso-comment {
    border-bottom: 1px solid rgba(0, 0, 0, 0.1) !important;
}

.isso-comment .isso-follow-up {
    padding-left: calc(7% + 20px) !important;
}